@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Lateef:wght@600;700;800&family=Ubuntu+Mono&display=swap');

/* @font-face {
font-family: "ReadexPro";
src: local("ReadexPro.ttf");
font-weight: normal;
} */

.main-text{
/* font-family: 'Amiri', serif; */
font-family: 'Lateef', serif;
/* font-weight: 600; */

}


/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;